[project]
name = "vision-transformer-on-cifar-10"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "torch>=2.9.0",
    "torchvision>=0.24.0",
]
